<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403715657150-g0f9lkbsgfntajkgq6kpk6kt1bl0g9b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403715657150-g0f9lkbsgfntajkgq6kpk6kt1bl0g9b8</string>
	<key>API_KEY</key>
	<string>AIzaSyAx00zMtIUfkd2uux5ldngoJUVfV-aUKNk</string>
	<key>GCM_SENDER_ID</key>
	<string>403715657150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginapp</string>
	<key>PROJECT_ID</key>
	<string>loginflutter-88f1d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginflutter-88f1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403715657150:ios:1f1d2dab9e69071fbfbdef</string>
</dict>
</plist>